@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;

  background-color: #333;
  font-family: "Poppins", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 4rem;
  width: 700px;

  background-color: #006699;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* Title */
.container .title {
  font-size: 2.5rem;
  font-weight: 700;
}

/* Password Display */
.container .password-display {
  background-color: white;
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  word-break: break-all;
}

.form {
  display: flex;
  flex-direction: column;
}

/* Password Range */
.password-range {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#passwordAmountRange {
  flex-grow: 1;
  cursor: pointer;
}

#passwordAmountNumber {
  width: 70px;
}

/* CheckGroup */
.container .checkGroup {
  position: relative;
  width: 70%;
}

.checkGroup input {
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* Button */
.generate-button {
  align-self: center;

  width: 80%;
  margin: 1rem 3rem;
  padding: 0.5rem;

  background-color: #5cb85c;
  color: white;
  font-size: 1.2rem;

  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.generate-button::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 800px;
  background-color: blue;
}

.generate-button:hover {
  background-color: #4c924c;
}
